<br>
<div class="p">
    <h1 style= "color:teal"><b>Progressive Web Apps</b></h1>
    <h2> Use modern web platform capabilities to deliver app-like experiences. High performance, offline, and zero-step installation.</h2>
      <br>
      <br>
      <h1 style= "color:teal"><b>Native</b></h1>
      <h2> Build native mobile apps with strategies from Cordova, Ionic, or NativeScript.</h2>
        <br>
        <br>
        <h1 style= "color:teal"><b>Desktop</b></h1>
        <h2>Create desktop-installed apps across Mac, Windows, and Linux using the same Angular methods you've learned for the web plus the ability to access native OS APIs.</h2>
          <br>
          <br>
      </div>