<br>
<div class="p">
    <h1 style= "color:teal"><b>ANGULAR COMPONENTS</b></h1>
    <h2> The Component is the main building block of an Angular Application.

        The Component contains the data & user interaction logic that defines how the View looks and behaves. A view in Angular refers to a template (HTML).
        
        The Angular Components are plain JavaScript classes and defined using @Component Decorator. This Decorator provides the component with the View to display & Metadata about the Component
        
        The Component is responsible to provide the data to the view. The Angular does this by using data binding to get the data from the Component to the View. This is done using the special HTML markup knows as the Angular Template Syntax. The Component can also get notified when the View Changes.
        
        The Angular applications will have lots of components. Each component handles a small part of UI. These components work together to produce the complete user interface of the application.</h2>
      <Br>
      </div>