<main>
    <ol class="gradient-list">
    <li><a routerLink="/Data_Binding">Data_Binding</a></li><br>
    <li><a routerLink="/Event_Binding">Event_Binding</a></li><br>
    <li><a routerLink="/Directives">Directives</a></li><br>
    <li><a routerLink="/palindrome">Palindrome</a></li><br>
    <li><a routerLink="/pipes">Pipes</a></li>
    <li><a routerLink="/MDF">Model Driven Form</a></li>
    <li><a routerLink="/Validators">Validators</a></li>
    <li><a routerLink="/ServiceAPI">Service &API</a></li>
    <li><a routerLink="/Register">Registration</a></li>
    <li><a routerLink="/Admin">Admin</a></li>
    </ol>
    <br>
    <br>
    <main>
    
    <div class="main">
        <router-outlet></router-outlet>
    </div>
    
    
    

