
<br>
<div class="p">
    <h1 style= "color:teal"><b>ANGULAR MATERIALS</b></h1>
    <h2> This guide explains how to set up your Angular project to begin using Angular Material. It includes information on prerequisites, installing Angular Material, and optionally displaying a sample Material component in your application to verify your setup.

        Angular Resources
        
        If you are new to Angular or getting started with a new Angular application, see Angular's full Getting Started Guide and Setting up your environment.
        
        For existing applications, follow the steps below to begin using Angular Material.</h2>
      <br>
      <br>
        <h2>ng add @angular/material</h2>
        <br>
      <br>
      <h2>The ng add command will install Angular Material, the Component Dev Kit (CDK), Angular Animations and ask you the following questions to determine which features to include:

        Choose a prebuilt theme name, or "custom" for a custom theme:
        
        You can choose from prebuilt material design themes or set up an extensible custom theme.
        
        Set up global Angular Material typography styles:
        
        Whether to apply the global typography styles to your application.
        
        Set up browser animations for Angular Material:
        
        Importing the BrowserAnimationsModule into your application enables Angular's animation system. Declining this will disable most of Angular Material's animations.
        
        The ng add command will additionally perform the following actions:
        
        Add project dependencies to package.json
        Add the Roboto font to your index.html
        Add the Material Design icon font to your index.html
        Add a few global CSS styles to:
        Remove margins from body
        Set height: 100% on html and body
        Set Roboto as the default application font
        You're done! Angular Material is now configured to be used in your application.</h2>
      </div>